

body{
	padding:10px;
	background:lightgray;
}

.container{
	margin:auto;
	width:1000;
	height:800px;
	background:white;
	border-radius: 5px;
	border: 1px solid black;
	text-align:center;
}

.container h2{

}

.table{
	background:darkgreen;
	margin:auto;
	width:950px;
	height:600px;
}

#chat, #deal{
	background-color: #2196F3;
	border:1px solid black;
	border-radius:3px;
	padding:2px;
	color:white;
	cursor:pointer;
	display:inline-block;

}

#chat:hover, #deal:hover{
	background-color: #3f51b5;
}